@charset "UTF-8";
/*////[Reset CSS pré-fait converti en SCSS]
________________________________________________________*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, .page > .contenu-page > article, canvas, details, embed, figure,
figcaption, footer, header, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, .page > .contenu-page > article, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*////[Box-sizing]
________________________________________________________*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*////[Autres resets]
________________________________________________________*/
/*[Reset des liens]*/
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/*////[Variable de couleurs]
________________________________________________________*/
:root {
  /*[Blanc]*/
  --blanc: hsl(0, 0%, 100%);
  /*[Noir]*/
  --noir: hsl(0, 0%, 0%);
  /*[Orangés]*/
  --orange: hsl(12, 100%, 64%);
  --orange-pale: hsl(22, 79%, 82%);
  /*[Gris]*/
  --gris: hsl(0, 0%, 24%);
  --gris-pale: hsl(0, 0%, 60%);
  --gris-fonce: hsl(0, 0%, 13%);
  /*[Verts]*/
  --vert: hsl(67, 40%, 61%);
  --vert-fonce: hsl(67, 25%, 47%);
}

/*////[Mixin pour flex]
________________________________________________________*/
/*[Display flex en colonne]*/
/*[Display flex en rangée]*/
body {
  font-family: 'Roboto', sans-serif;
}

body > .interface {
  margin: 0 auto;
  overflow: hidden;
  font-weight: 300;
}

/*////[Code SCSS du header]
________________________________________________________*/
header {
  width: 100vw;
  height: 420px;
  background-image: url(../images/header/header-960.jpg);
  background-size: cover;
  background-position: center;
}

header > img {
  display: none;
}

/*////[Code SCSS de l'article]
________________________________________________________*/
.page {
  width: 100%;
}

.page > .contenu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .6em;
  /*[Zone verte]*/
  /*[Aside]*/
  /*[Article]*/
}

.page > .contenu-page > .zone-verte {
  background-color: var(--vert);
  padding: 1em;
}

.page > .contenu-page > .zone-verte > h4 {
  color: var(--blanc);
  font-size: 1.5rem;
  font-weight: 500;
}

.page > .contenu-page > aside, .page > .contenu-page > article {
  padding: 1.2em;
  /*[Section de l'auteur]*/
  /*[Pubs pour desktop]*/
}

.page > .contenu-page > aside > .auteur, .page > .contenu-page > article > .auteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page > .contenu-page > aside > .auteur > .profil-auteur, .page > .contenu-page > article > .auteur > .profil-auteur {
  border: 2px solid var(--orange-pale);
  padding: 0;
}

.page > .contenu-page > aside > .auteur > .profil-auteur > img, .page > .contenu-page > article > .auteur > .profil-auteur > img {
  width: 10vw;
}

.page > .contenu-page > aside > .auteur > .nom-auteur, .page > .contenu-page > article > .auteur > .nom-auteur {
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page > .contenu-page > aside > .auteur > .nom-auteur h4:first-child, .page > .contenu-page > article > .auteur > .nom-auteur h4:first-child {
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: .2em;
}

.page > .contenu-page > aside > .auteur > .nom-auteur h4:last-child, .page > .contenu-page > article > .auteur > .nom-auteur h4:last-child {
  color: var(--gris);
  font-weight: 500;
}

.page > .contenu-page > aside > .pubs-desktop, .page > .contenu-page > article > .pubs-desktop {
  display: none;
}

.page > .contenu-page > article {
  line-height: 1.6;
}

.page > .contenu-page > article h1 {
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1;
}

.page > .contenu-page > article h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--orange);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.page > .contenu-page > article h4 {
  color: var(--gris-pale);
  font-weight: 500;
}

.page > .contenu-page > article > p:first-of-type {
  padding: 1em;
  font-style: italic;
  text-align: center;
}

.page > .contenu-page > article figure {
  margin: 2rem 0;
}

.page > .contenu-page > article figure img {
  width: 100%;
}

.page > .contenu-page > article figure figcaption {
  font-size: .9rem;
  font-weight: 500;
}

.page > .contenu-page > article > .recettes {
  font-size: .95rem;
  width: 100%;
}

.page > .contenu-page > article > .recettes h3 {
  font-weight: 500;
  color: var(--gris);
  font-size: 1.3rem;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.page > .contenu-page > article > .recettes img {
  width: 100%;
}

.page > .contenu-page > article > .recettes .recette-01::after,
.page > .contenu-page > article > .recettes .recette-02::after {
  content: " ";
  display: block;
  height: 1.8px;
  background: var(--noir);
  width: 100%;
  margin: 3rem 0;
  opacity: 10%;
}

.page > .contenu-page > article > .recettes .info-recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page > .contenu-page > article > .recettes .info-recette .bouton {
  margin-top: 2rem;
  margin-bottom: .2rem;
  font-weight: 500;
  color: var(--blanc);
  background-color: var(--vert);
  border: none;
  padding: .6rem 1.5rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */