//----------------------------------------------------//
//                                                    //
//                  // ARTICLE //                     //
//                  _article.scss                     //
//----------------------------------------------------//

/*////[Code SCSS de l'article]
________________________________________________________*/

.par-dessus {
    width: 100%;
    @include flex-column;
    align-items: center;

    @include breakpoint-min(768) {
        position: absolute;
        top: 515px;
    }

    &>.contenu-page {
        z-index: 100;
        width: 100%;
        @include flex-column;
        padding: .6em;
        background-color: var(--blanc);

        @include breakpoint-min(768) {
            width: 80%;
            padding: 1.7em;
            font-size: 1.1rem;
        }

        @include breakpoint-min(1366) {
            padding: 2em;
            @include flex-row;
            flex-wrap: wrap;
        }
        /*[Zone verte]*/
        &>.zone-verte {
            background-color: var(--vert);
            padding: 1em;
            @include breakpoint-min(1366) {
                width: 100%;
                flex-basis: 100%;
            }
            &>h4 {
                color: var(--blanc);
                font-size: 1.5rem;
                font-weight: 500;
            }
            
        }

        /*[Aside]*/
        &>aside {
            padding: 1.2em;
            @include breakpoint-min(768) {
                padding: 2.3em 0 0 0;
            }
            @include breakpoint-min(1366) {
                padding: 3em 3em 0 0;
                width: 30%;
            }

            /*[Section de l'auteur]*/
            &>.auteur {
                @include flex-row;

                &>.profil-auteur {
                    border: 2px solid var(--orange-pale);
                    padding: 0;

                    &>img {
                        width: 10vw;
                        max-width: 80px;
                    }
                }

                &>.nom-auteur {
                    margin-left: 0.5rem;
                    @include flex-column;

                    & h4:first-child {
                        font-weight: 700;
                        font-size: 1.1rem;
                        padding-bottom: .2em;
                    }

                    & h4:last-child {
                        color: var(--gris);
                        font-weight: 500;
                    }
                }
            }
        }

        /*[Article]*/
        &>article {
            @extend aside;
            line-height: 1.6;
            @include breakpoint-min(1366) {
                width: 70%;
            }

            h1 {
                font-size: 2.3rem;
                font-weight: 300;
                line-height: 1;
                @include breakpoint-min(768){
                    font-size: 2.5rem;
                }
            }

            h2 {
                font-weight: 500;
                font-size: 1.5rem;
                color: var(--orange);
                margin: {
                    top: 2rem;
                    bottom: 0.5rem;
                }
                @include breakpoint-min(768){
                    font-size: 1.7rem;
                }
            }

            h4 {
                color: var(--gris-pale);
                font-weight: 500;
            }

            &>p:first-of-type {
                padding: 1em;
                font-style: italic;
                text-align: center;
            }

            &>.img-potluck {
                @include flex-column;
                justify-content: center;
                align-items: center;

                &>figure {
                    position: relative;
                    margin: 2rem 0;

                    img {
                        width: 100%;
                        max-width: 600px;
                    }

                    figcaption {
                        font-size: .9rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}