//----------------------------------------------------//
//                                                    //
//                  // ARTICLE //                     //
//                  _article.scss                     //
//----------------------------------------------------//

/*////[Code SCSS de l'article]
________________________________________________________*/

.contenu-page {
    width: 100%;
    @include flex-column;
    padding: .6em;

    /*[Zone verte]*/
    &>.zone-verte {
        background-color: var(--vert);
        padding: 1em;

        &>h4 {
            color: var(--blanc);
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    /*[Aside]*/
    &>aside {
        padding: 1.2em;

        /*[Section de l'auteur]*/
        &>.auteur {
            @include flex-row;

            &>.profil-auteur {
                border: 2px solid var(--orange-pale);
                padding: 0;

                &>img {
                    width: 10vw;
                }
            }

            &>.nom-auteur {
                margin-left: 0.5rem;
                @include flex-column;

                & h4:first-child {
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding-bottom: .2em;
                }

                & h4:last-child {
                    color: var(--gris);
                    font-weight: 500;
                }
            }
        }
    }

    /*[Article]*/
    &>article {
        @extend aside;
        line-height: 1.6;

        h1 {
            font-size: 2.3rem;
            font-weight: 300;
            line-height: 1;
        }

        h2 {
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--orange);

            margin: {
                top: 2rem;
                bottom: 0.5rem;
            }
        }

        h4 {
            color: var(--gris-pale);
            font-weight: 500;
        }

        &>p:first-of-type {
            padding: 1em;
            font-style: italic;
            text-align: center;

        }

        & figure {
            margin: 2rem 0;

            img {
                width: 100%;
            }

            figcaption {
                font-size: .9rem;
                font-weight: 500;
            }
        }
    }
}