//----------------------------------------------------//
//                                                    //
//                // NAV PRINCIPALE //                //
//                _navPrincipale.scss                 //
//----------------------------------------------------//

/*////[Code SCSS de la navigation mobile et desktop]
________________________________________________________*/

.btn-hamburger {
    position: fixed;
    z-index: 1000;
    top: 13px;
    left: 15px;

    &>img {
        position: absolute;
        width: 40px;
        filter: brightness(80%);
    }
}

.menu-mobile {
    @include flex-column;
    justify-content: center;
    align-items: center;
    background-color: var(--noir);
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 65px;

    &>img {
        // width: 230px;
        width: 45vw;
    }
}

.nav-principale {
    position: fixed;
    padding: 6rem 1rem;
    z-index: 999;
    height: 100vh;
    transition: width 1s, opacity .7s, left 1.1s;
    background-color: var(--blanc);

    &>.nav-liste {
        @include flex-column;

        & li {
            width: 100%;
            padding: 1.5rem 0 1.5rem 1rem;
        }

        li.selected {
            color: var(--blanc);
            background-color: var(--orange);
        }

        &>a::before {
            content: " ";
            display: block;
            height: 1px;
            background: var(--noir);
            width: 100%;
            opacity: 10%;
        }

        &>a:last-child::after {
            @extend a::before;
        }
    }
}

.nav-ferme {
    width: 0%;
    opacity: 0%;
    left: -400px;
}

.nav-ouvert {
    opacity: 100%;
    width: 300px;
    left: 0;
}

.page-ferme {
    margin-left: 0px;
}

.page-pousse {
    margin-left: 300px;
}