//----------------------------------------------------//
//                                                    //
//                // NAV PRINCIPALE //                //
//                _navPrincipale.scss                 //
//----------------------------------------------------//

/*////[Code SCSS de la navigation mobile et desktop]
________________________________________________________*/

/*[Icône hamburger menu]*/
.btn-hamburger {
    position: fixed;
    z-index: 1000;
    top: 6px;
    left: 15px;

    &>img {
        position: absolute;
        width: 40px;
        filter: brightness(80%);
    }

    @include breakpoint-min(1366) {
        display: none;
    }
}

/*[Menu-mobile (logo et icône)]*/
.menu-mobile {
    z-index: 999;
    @include flex-column;
    justify-content: center;
    align-items: center;
    background-color: var(--noir);
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 52px;

    & img {
        min-width: 220px;
        width: 22vw;
    }

    @include breakpoint-min(1366) {
        display: none;
    }
}

/*[Navigation principale]*/
.nav-principale {
    position: fixed;
    padding: 3.2rem 1rem;
    height: 100vh;
    transition: width 1s, opacity .7s, left 1.1s;
    background-color: var(--blanc);
    font-size: 1.2rem;

    @include breakpoint-min(768) {
        font-size: 1.1rem;
    }

    @include breakpoint-min(1366) {
        width: 100%;
        height: 52px;
        padding: 0;
        @include flex-row;
        justify-content: center;
        align-items: center;
        background-color: var(--noir);
        color: var(--blanc);
        z-index: 1000;
    }

    &>.nav-liste {
        @include flex-column;

        @include breakpoint-min(1366) {
            @include flex-row;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
        }

        &>a {
            @include breakpoint-min(1366) {
                height: 100%;
                @include flex-column;
                justify-content: center;
                align-self: center;
                padding: 0 2rem;
            }

            & li {
                width: 100%;
                padding: 1.5rem 0 1.5rem 1rem;

                @include breakpoint-min(1366) {
                    padding: 0;
                    font-weight: 500;
                    font-size: .9rem;
                }
            }
        }

        &>a.selected {
            color: var(--blanc);
            background-color: var(--orange);
        }

        /*[Lignes grises entre onglets nav]*/
        &>a::before {
            content: " ";
            display: block;
            height: 1px;
            background: var(--noir);
            width: 100%;
            opacity: 10%;

            @include breakpoint-min(1366) {
                display: none;
            }
        }

        &>a:last-child::after {
            @extend a::before;
        }
    }
}

/*[Ligne noire après navigation desktop]*/
.nav-principale::after {
    @include breakpoint-min(1366) {
        content: " ";
        display: block;
        position: absolute;
        top: 52px;
        height: 3px;
        width: 100%;
        background: var(--noir);
    }
}

/*[État de la nav-mobile quand fermée]*/
.nav-ferme {
    width: 0%;
    opacity: 0%;
    left: -400px;

    @include breakpoint-min(1366) {
        width: 100%;
        left: 0px;
        opacity: 100%;
    }
}

/*[État de la nav-mobile quand ouverte]*/
.nav-ouvert {
    opacity: 100%;
    width: 300px;
    left: 0;

    @include breakpoint-min(1366) {
        width: 100%;
    }
}

/*[État initial de la page]*/
.page-ferme {
    margin-left: 0px;
}

/*[État de la page quand poussée par nav-mobile]*/
.page-pousse {
    margin-left: 300px;

    @include breakpoint-min(1366) {
        margin-left: 0px;
    }
}