//----------------------------------------------------//
//                                                    //
//                   // RECETTES //                   //
//                  _recettes.scss                    //
//----------------------------------------------------//

/*////[Code SCSS de la section des recettes]
________________________________________________________*/

.recettes {
    font-size: .95rem;
    width: 100%;

    @include breakpoint-min(1366) {
        margin-top: 6rem;
    }

    /*[Style pour chaque recette]*/
    .recette {
        @include flex-column;
        justify-content: center;
        align-items: center;

        @include breakpoint-min(768) {
            @include flex-row;
            align-items: flex-start;
            margin-bottom: 3rem;
        }

        /*[Image de la recette]*/
        & img {
            width: 100%;
            max-width: 550px;

            @include breakpoint-min(768) {
                flex: 1;
            }

            @include breakpoint-min(1366) {
                max-width: 400px;
            }
        }

        /*[Infos de la recette (texte et bouton)]*/
        &>.info-recette {
            @include flex-column;

            @include breakpoint-min(768) {
                margin-left: 2rem;
                flex: 2;
            }

            h3 {
                font-weight: 500;
                color: var(--gris);
                font-size: 1.3rem;

                margin: {
                    top: 1.2rem;
                    bottom: 0.5rem;
                }

                @include breakpoint-min(768) {
                    font-size: 1.5rem;
                    line-height: 1.2;
                    margin-top: 0;
                }
            }

            .bouton {
                margin: {
                    top: 2rem;
                    bottom: .2rem;
                }

                font-weight: 500;
                color: var(--blanc);
                background-color: var(--vert);
                border: none;
                padding: .6rem 1.5rem;
                text-align: center;
                display: inline-block;
                cursor: pointer;
                border-radius: 10px;
                align-self: center;

                @include breakpoint-min(768) {
                    align-self: flex-start;
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
    }

    /*[Barres grises entre recettes]*/

    // .recette-01::after,
    // .recette-02::after {
    //     content: " ";
    //     display: block;
    //     height: 2px;
    //     background: var(--noir);
    //     width: 100%;
    //     margin: 3rem 0;
    //     opacity: 10%;
    // }

    .barre-grise {
        display: block;
        height: 2px;
        background: var(--noir);
        width: 100%;
        margin: 3rem 0;
        opacity: 10%;

        @include breakpoint-min(768) {
            margin: 3.5rem 0;
        }
    }
}