//----------------------------------------------------//
//                                                    //
//               // GRILLE MOBILE //                  //
//               _grilleMobile.scss                   //
//----------------------------------------------------//

body {
    font-family: 'Roboto', sans-serif;
}

.interface {
    margin: 0 auto;
    overflow: hidden;
}