//----------------------------------------------------//
//                                                    //
//                // PAGE MOBILE //                   //
//                _pageMobile.scss                    //
//----------------------------------------------------//

/*////[Code SCSS de la structure de la page pour mobile]
________________________________________________________*/

body {
    font-family: 'Roboto', sans-serif;

    &>.interface {
        margin: 0 auto;
        overflow: hidden;
        font-weight: 300;
        @include flex-row;

        &>.page {
            width: 100%;
            transition: margin 1s;
            background-color: red; // *****************EFFACER***********************
        }
    }
}